@tailwind base;
@tailwind components;
@tailwind utilities;


ul.navbar-nav li {
    display:inline;
}
.hover-shadow {
    transition: all 0.3s ease;
}
.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}
.cat-img-top {
    width: 100px;
}

.next {
    float: right;
}
.middle-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5.card-title {
   margin: 0;
}

.cat-title {
    font-size: 12px;
}
.cat-title span{
    font-size: 10px;
}