@tailwind base;
@tailwind components;
@tailwind utilities;


ul.navbar-nav li {
    display:inline;
}
.hover-shadow {
    transition: all 0.3s ease;
}
.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}
.cat-img-top {
    width: 100px;
}

.next {
    float: right;
}
.middle-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5.card-title {
   margin: 0;
}

.cat-title {
    font-size: 12px;
}
.cat-title span{
    font-size: 10px;
}
.page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.text-block {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}


.image-grid .image-block {
    width: calc(25% - 10px);
}

.image-grid .image-block img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}


@media (max-width: 992px) {
    .image-grid .image-block {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 768px) {
    .image-grid .image-block {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .image-grid .image-block {
        width: 100%;
    }
}

